/* Aggiungi questi stili per il layout delle card */
.dischi {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Spazio uniforme tra le colonne */
}

.card {
    width: calc(33.33% - 20px);
    /* Larghezza della card, con margine tra le card */
    margin-bottom: 20px;
    /* Margine inferiore tra le righe */
    padding: 10px;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

.card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.card h3,
.card p {
    margin-bottom: 5px;
}